# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.sqlite3
db.sqlite3
staticfiles/
.env

# VSCode
.vscode/

# Virtual Environments
venv/
.venv/

# Node
node_modules/
package-lock.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Misc
*.bak
